.employee {
  flex: 4;
  margin: 20px;
  padding: 20px;
}
.employee .employeeTitleContainer {
  background-color: white;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.employee .employeeTitleContainer .employeeTitle {
  font-size: 25px;
  font-weight: 500;
  color: gray;
}
.employee .employeeTitleContainer .employeeAddButton {
  width: 80px;
  border: none;
  padding: 8px;
  background-color: #12e86b;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}
.employee .employeeContainer {
  display: flex;
  margin-top: 20px;
  background-color: white;
}
.employee .employeeContainer .show {
  flex: 1;
  padding: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.employee .employeeContainer .show .showTop {
  display: flex;
  align-items: center;
}
.employee .employeeContainer .show .showTop .employeeShowImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.employee .employeeContainer .show .showTop .showTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 17px;
}
.employee .employeeContainer .show .showTop .showTopTitle .showUserName {
  font-weight: 600;
}
.employee .employeeContainer .show .showTop .showTopTitle .showRole {
  font-weight: 300;
}
.employee .employeeContainer .show .showBottom {
  margin-top: 20px;
}
.employee .employeeContainer .show .showBottom .showTitle {
  font-size: 16px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}
.employee .employeeContainer .show .showBottom .showInfo {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #444;
}
.employee .employeeContainer .show .showBottom .showInfo .showIcon {
  font-size: 16px !important;
}
.employee .employeeContainer .show .showBottom .showInfo .showInfoTitle {
  margin-left: 10px;
}
.employee .employeeContainer .update {
  flex: 3;
  padding: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}
.employee .employeeContainer .update .updateTitle {
  font-size: 24px;
  font-weight: 600;
}
.employee .employeeContainer .update .gridInput {
  margin-top: 20px;
}
.employee .employeeContainer .update .gridInput .input {
  margin-bottom: 20px;
}
.employee .employeeContainer .update .gridInput .input .size {
  width: 70%;
}
.employee .employeeContainer .update .gridInput .radio,
.employee .employeeContainer .update .gridInput .select,
.employee .employeeContainer .update .gridInput .checkbox {
  margin-bottom: 20px;
}
.employee .employeeContainer .update .gridInput .imgUpload {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.employee .employeeContainer .update .gridInput .imgUpload .image {
  margin-right: 20px;
}
.employee .employeeContainer .update .gridInput .imgUpload .image img {
  width: 120px;
  height: 120px;
  border-radius: 20%;
  -o-object-fit: cover;
     object-fit: cover;
  align-content: center;
}
.employee .employeeContainer .update .gridInput .imgUpload .buttonUpload .icon {
  font-size: 30px;
}
.employee .employeeContainer .update .gridInput .btn {
  margin-top: 20px;
}
.employee .employeeContainer .update .gridInput .btn .submit {
  background-color: #12e86b;
  color: white;
}/*# sourceMappingURL=edit.css.map */