.datatable{
    height: 480px;

    .cellId {
        span {
            font-size: 20px; 
        }
    }

    .cellDes {
        span {
            font-size: 20px; 
        }
    }

    .cellWithImg {
        display: flex;
        align-items: center;
        

        .cellImgg {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
        span{
            font-size: 20px;
        }
    }


    .datatableTitle{
        font-size: 24px;
        font-weight: 500;
        color: gray;
        width: 100%;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;

        .link{
            text-decoration: none;
            color: #12E86B;
            font-size: 16px;
            border: 1px solid green;
            border-radius: 5px;
            padding: 6px;
        }

    }

}