.table {
  // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  // box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  // // padding: 20px;

  .row {
    background-color: rgba(5, 167, 46, 0.973);

    .cell {
      color: white;
      font-size: 18px;
      font-weight: 600;
      min-width: 10px;
    }

    // .cell:nth-child(2) {
    //   text-align: center;
    //   padding-left: 35px;
    // }
  }

  // margin: 20px;
}
