.container {
  .gridInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    .grid {
      .btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        .submit {
          background: green;
          margin-top: 0;
          width: 150px;
          margin-right: 20px;
          color: white;
        }
      }

      .reset {
        margin-top: 0;
        width: 150px;
        background-color: rgb(187, 193, 194);
        color: white;
      }
    }
  }
}
